@layout MainLayout
@using global::UniversityLink.DataModels
@inherits LayoutComponentBase

<PageView Style="height: 100%;overflow: auto" ContextStyle="height: 80%;">
    <Context>
        @if (string.IsNullOrEmpty(Member.UserId))
        {
            <Result Status="403"
                    Title="未能找到当前页面"
                    Style="padding: 20px"
                    SubTitle="这里空空如也"/>
        }
        else
        {
            <GridRow>
                <GridCol Md="4" Lg="4" Xl="4" Xxl="4" Class="desktop-phone">
                    <Button Type="@ButtonType.Text" OnClick="ToggleCollapsed" Style="@("margin-bottom: 16px;width: " + (collapsed ? "79px" : "100%"))">
                        @if (collapsed)
                        {
                            <Icon Type="double-right" Theme="outline"/>
                        }
                        else
                        {
                            <Icon Type="double-left" Theme="outline"/>
                        }
                    </Button>
                    @Menu
                </GridCol>
                <GridCol Xs="24" Sm="24" Md="20" Lg="20" Xl="20" Xxl="20" Style="padding: 10px">
                    @Body
                </GridCol>
            </GridRow>
        }
    </Context>
    <Extra>
        <Button Type="@ButtonType.Text" Class="phone-desktop" OnClick="@(() => { _drawerVisible = true; collapsed = false; })">
            <Icon Type="menu" Theme="outline"/>
            <span style="margin-left: 10px">导航</span>
        </Button>
    </Extra>
</PageView>

<Drawer Placement="top" Closable="false"
        Visible="@_drawerVisible"
        Height="340"
        OffsetY="64"
        OnClose="@(() => _drawerVisible = false)">
    @Menu
</Drawer>

@code {
    bool collapsed;

    void ToggleCollapsed()
    {
        collapsed = !collapsed;
    }
    
    [CascadingParameter] public UserModel Member { get; set; } = new();

    private record NavModel(string Title, string Url, string Icon,bool isManage = true);

    private readonly List<NavModel> navs =
    [
        new("主页", "/Centre", "wode1",false),
        new("链接组", "/Category", "baogao1"),
        new("查看全部图标", "/LinkIcon", "shangpinzhinan",false)
    ];

    private bool _drawerVisible;

    private RenderFragment Menu
        => @<Template>
               <Menu Theme="MenuTheme.Light"
                     Mode="MenuMode.Inline"
                     OnMenuItemClicked="() => _drawerVisible = false"
                     InlineCollapsed="collapsed">
                   @foreach (var nav in navs)
                   {
                       if (Member.Identity is "Founder" or "Manager" || !nav.isManage)
                       {
                           <MenuItem RouterLink="@nav.Url" RouterMatch="NavLinkMatch.All">
                               <IconTemplate>
                                   <IconFont Style="@("font-size: "+(collapsed? "32px;margin-left: -10px;" : "20px"))" Type="@($"icon-{nav.Icon}")"/>
                               </IconTemplate>
                               <ChildContent>
                                   @nav.Title
                               </ChildContent>
                           </MenuItem>
                       }
                   }
               </Menu>
           </Template>;

}

<style>
    .ant-drawer-content {
        border-radius: 0 0 20px 20px;
    }
</style>