@page "/Category/{Key?}"
@using global::UniversityLink.DataModels
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<LinkContext> DbFactory
@inject NavigationManager Nav

<PageTitle>@(string.IsNullOrEmpty(Key) ? "全部链接" : Model.Name) - 建大Link</PageTitle>

<Modal Title="@("添加/更改链接组")"
       @bind-Visible="@_addModelVisible"
       OnOk="@HandleOk">
    <Form Model="@Model"
          OnFinish="OnFinish"
          @ref="@_form">
        <FormItem Label="名称">
            <Input @bind-Value="@context.Name"/>
        </FormItem>
        <FormItem Label="描述">
            <Input @bind-Value="@context.Description"/>
        </FormItem>
        <FormItem Label="图标">
            <Select Mode="default"
                    Placeholder="Please select"
                    DataSource="@AllIcons"
                    @bind-Value="@context.Icon"
                    ItemValue="s => s.font_class"
                    ItemLabel="s => s.name"
                    TItemValue="string"
                    TItem="IconModel"
                    Context="model"
                    ListboxStyle="display:flex;height: 200px;flex-flow: wrap; max-width: 500px; align-content: baseline;"
                    Style="width: 100%; margin-top: 8px;">
                <LabelTemplate>
                    @model.name
                </LabelTemplate>
                <ItemTemplate Context="m">
                    <IconFont Style="font-size: 32px" Type="@($"icon-{m.font_class}")"/>
                </ItemTemplate>
                <DropdownRender Context="m">
                    @m
                </DropdownRender>
            </Select>
        </FormItem>
    </Form>
</Modal>

<Modal Title="@("添加/更改Link")"
       @bind-Visible="@_addLinkVisible"
       OnOk="@LinkHandleOk">
    <Form Model="@Link"
          OnFinish="LinkOnFinish"
          @ref="@_linkForm">
        <FormItem Label="名称">
            <Input @bind-Value="@context.Name"/>
        </FormItem>
        <FormItem Label="描述">
            <Input @bind-Value="@context.Description"/>
        </FormItem>
        <FormItem Label="链接">
            <Input @bind-Value="@context.Url"/>
        </FormItem>
        <FormItem Label="图标">
            <Flex>
                <Select Mode="default"
                        Placeholder="Please select"
                        DataSource="@AllIcons"
                        @bind-Value="@context.Icon"
                        ItemValue="s => s.font_class"
                        ItemLabel="s => s.name"
                        Context="model"
                        ListboxStyle="display:flex;height: 200px;flex-flow: wrap; max-width: 500px; align-content: baseline;">
                    <LabelTemplate>
                        @model.name
                    </LabelTemplate>
                    <ItemTemplate Context="m">
                        <IconFont Style="font-size: 32px" Type="@($"icon-{m.font_class}")"/>
                    </ItemTemplate>
                    <DropdownRender Context="m">
                        @m
                    </DropdownRender>
                </Select>
                <Button Type="@ButtonType.Primary" OnClick="@(() => context.Icon = "")">清空</Button>
            </Flex>
        </FormItem>
        <FormItem Label="链接">
            <Input @bind-Value="@context.Url"/>
        </FormItem>
    </Form>
</Modal>

<Flex Align="center" Justify="space-around" Style="width: 100%">
    @if (!string.IsNullOrEmpty(Key))
    {
        <div>
            <Flex Gap="10">
                <IconFont Style="font-size: 40px"
                          Type="@($"icon-{Model.Icon}")"/>
                <Title Level="2">@Model.Name</Title>
            </Flex>
            <Paragraph Type="secondary">@Model.Description</Paragraph>
        </div>

        <Button Type="@ButtonType.Text" OnClick="ShowModal">
            <IconFont Style="font-size: 22px" Type="icon-bianji1"/>
        </Button>
    }
    else
    {
        <Flex Gap="10">
            <IconFont Style="font-size: 40px"
                      Type="icon--FileManager"/>
            <Title Level="2">全部标签</Title>
        </Flex>
        <Button Type="@ButtonType.Text" OnClick="ShowModal">
            <IconFont Style="font-size: 22px" Type="icon-tianjia"/>
        </Button>
    }
</Flex>

@if (!string.IsNullOrEmpty(Key))
{
    <div style="text-align: right">
        <Button Type="@ButtonType.Text" OnClick="() => ShowLinkModal()">
            <IconFont Style="font-size: 22px" Type="icon-tianjia"/>
        </Button>
    </div>
}

<Flex Justify="center" Align="center">
    <GridRow Class="block" Gutter="(30, 24)">
        @foreach (var category in Categories)
        {
            <GridCol Xs="24" Sm="24" Md="12" Lg="12" Xl="12" Xxl="12">
                <div draggable="true" @ondrop="e => OnDrop(e, category)"
                     @ondragstart="e => OnDragStart(e, category)" ondragover="event.preventDefault()">
                    <Card Hoverable Style="border-radius: 10px">
                        <Flex Justify="space-between">
                            <div>
                                <Flex Gap="10">
                                    <IconFont Style="font-size: 40px" Type="@($"icon-{category.Icon}")"/>
                                    <Title Level="2">@category.Name</Title>
                                </Flex>
                                <Paragraph Type="secondary">@category.Description</Paragraph>
                            </div>
                            <Button Type="@ButtonType.Text" OnClick="@(() => Nav.NavigateTo($"/Category/{category.Key}", true))">
                                <IconFont Style="font-size: 30px" Type="icon-bianji1"/>
                            </Button>
                        </Flex>
                        <Flex Gap="10" Wrap="wrap">
                            @foreach (var link in category.Links)
                            {
                                <a href="@link.Url" target="_blank" class="a-btn">
                                    <IconFont Style="font-size: 20px" Type="@($"icon-{link.Icon}")"/>
                                    <span style="color: #000000;font-size: 18px;font-weight: 500;">@link.Name</span>
                                    <div style="color: #00000073;text-align: center">@link.Description</div>
                                </a>
                            }
                        </Flex>
                        @if (category.Links.Count == 0)
                        {
                            <Empty Image="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
                                   Style="padding: 20px" Description="@("当前还未添加任何链接")">
                                <ChildContent>
                                    <Button type="@ButtonType.Primary" OnClick="@(() => ShowLinkModal(key: category.Key))">添加一个</Button>
                                </ChildContent>
                            </Empty>
                        }
                    </Card>
                </div>
            </GridCol>
        }
    </GridRow>
</Flex>

<AntList DataSource="Model.Links" Style="margin: 10px">
    <ChildContent>
        <div draggable="true" @ondrop="e => OnDrop(e, context)"
             @ondragstart="e => OnDragStart(e, context)" ondragover="event.preventDefault()">
            <ListItem>
                <ChildContent>
                    <ListItemMeta>
                        <AvatarTemplate>
                            <IconFont Style="font-size: 42px" Type="@($"icon-{context.Icon}")"/>
                        </AvatarTemplate>
                        <TitleTemplate>
                            <h3>@context.Name</h3>
                            <a href="@context.Url" target="_blank">@context.Url</a>
                        </TitleTemplate>
                        <DescriptionTemplate>
                            <p>@context.Description</p>
                        </DescriptionTemplate>
                    </ListItemMeta>
                </ChildContent>
                <Extra>
                    <Space>
                        <Button type="@ButtonType.Link" OnClick="@(() => ShowLinkModal(context))">更改</Button>
                        <Button type="@ButtonType.Text" Danger OnClick="@(() => Remove(context))">删除</Button>
                    </Space>
                </Extra>
            </ListItem>
        </div>
    </ChildContent>
</AntList>

@if (!string.IsNullOrEmpty(Key) && Model.Links.Count == 0)
{
    <Empty Image="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
           Style="padding: 20px" Description="@("当前还未添加任何链接")">
        <ChildContent>
            <Button type="@ButtonType.Primary" OnClick="@(() => ShowLinkModal())">添加一个</Button>
        </ChildContent>
    </Empty>
}

<style>
    .block{
        width: 80%;
    }
    
    @@media screen and (max-width: 768px) {
        .block{
            width: 90%;
        }
    }
</style>